@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import '../../vars.css';

.container{
    color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 70px;
    margin-top: 7%;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
    /*height: 100vh;
    width: 100vw;*/
}

.textContent{
    /* width: 468px;
    height: 239px;
    text-size-adjust: 80px;
    justify-content: center; */
    align-items: center;
    display: block;
    text-align: center;
    padding-top: 20px;
}

.welcomeToComp{
    word-spacing: 0.7rem;
    text-align: center;
}

.textWelcomeTo{
    display: flex;
    justify-content: flex-start;
    font-size: 48px;
    font-family: var(--font-gothic), var(--font-roboto);
    gap: 10px;
    text-align: center;
}

.textWelcome{
    color: var(--font-yellow);
}

/* .textWelcome{
    color: var(--font-yellow);
} */

.compName{
    display: flex;
    justify-content: flex-start;
    font-family: var(--font-myeongjo);
    font-size: 48px;
    font-weight: 500;
    
}

.textPartner{
    font-family: var(--font-gothic);
    font-size: 15px;
    display: flex;
    justify-content: flex-start;
}

.visimisi{
    
    padding-top: 50px;
}

.description{
    font-size: 20px;
    font-family: var(--font-myeongjo);
    text-align: left;
    /* line-height: 1.5; */
    /* max-height: 3em; */
}

.visi, .misi{
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    font-family: "Itim";
}

.visiDiv{
    
    margin-bottom: 30px;
}

.description{
    display: flex;
    justify-content: flex-start;
}

.btns{
    display: flex;
    /* gap: 10px; */
    justify-content: space-evenly;
    margin-left: 5%;
    margin-top: 25px;
}

/* .loginBtn:hover{
    background-color: var(--font-yellow);
    color: #000;
    box-shadow: 6px 6px 5px black 
}*/

.loginBtn, .signupBtn{
    text-decoration: none;
    border: 2px;
    background-color: var(--login-signup-btn);
    width: 181px;
    height: 50px;
    justify-content: center;
    align-items: center;
    position: relative;
    display: inline-block;
    padding: 12px 36px;
    border-radius: 40px;
    color: var(--bg-color);
    font-size: 20px;
}

.loginBtn:hover, .signupBtn:hover{
    cursor: pointer;
    background-color: var(--font-yellow);
    color: #000;
    box-shadow: 6px 6px 5px black;
    transition: .6ms;
}

