@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

* {
  font-family: 'Ubuntu', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 20px; 
  max-width: 90%;
}

.logo {
  background-size: 10%; 
  width: 160px;
  height: 140px;
  margin-top: 40px;
}

.card-container {
  flex: 1;
  margin: 15px;
  max-width: 25%; 
}

.card-container .card {
  font-weight: bold;
  position: relative;
  width: 100%;
} 

.card-container .card a h2 {
  color: black;
  margin: 10px; 
}

.card-container .card a {
  border-radius: 30px;
  padding: 20px; 
  width: 100%;
  height: 350px; 
  font-size: 14px; 
  border: 2px solid black;
  background: white;
  text-decoration: none;
  color: black;
  display: block;
  transition: 0.25s ease;
}

.card-container .card a:hover {
  transform: translate(-30px, -30px);
  border-color: #5bc0eb;
}

.card-container .card a:hover .card--display {
  display: none;
}

.card-container .card a:hover .card--hover {
  display: block;
}

.card-container .card a .card--display i {
  font-size: 60px;
  margin-top: 200px;
}

.card-container .card a .card--display h2 {
  margin: 20px 0 0;
}

.card-container .card a .card--hover {
  display: none;
}

.card-container .card a .card--hover h2 {
  margin: 20px 0;
}

.card-container .card a .card--hover p {
  font-weight: normal;
  line-height: 1.5;
}

.card-container .card .card--border {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: 2px dashed black;
  z-index: -1;
}

.card-container .card--hover ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
  padding-left: 10px;
  font-weight: normal;
  line-height: 1.5;
  color: black;
}

.card-container .card--hover ul li {
  color: black;
}

.card-container .card--hover ul li::before {
  content: '\2714'; 
  color: rgb(119, 228, 119); 
  display: inline-block;
  width: 1em;
  margin-left: -1em; 
}
