@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #00C2FF;
}

nav{
  position: fixed;
  z-index: 1000;
  width: 100%;
  background: black;
  top: 0; 
  left: 0;
  right: 0;
  margin-bottom: 20px;
}

nav .wrapper{
  position: relative;
  max-width: 1300px;
  padding: 0px 30px;
  height: 70px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper .logo {
  display: flex; 
  margin-left: 65px; 
  margin-top: 70px; 
}

.wrapper .logo a {
  color: #f2f2f2;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  white-space: nowrap;
  margin-left: 5px; 
}

.wrapper .nav-links{
  display: inline-flex;
}

.nav-links li{
  list-style: none;
}

.nav-links li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.nav-links li a:hover{
  background: #3A3B3C;
}

.nav-links .mobile-item{
  display: none;
}

.nav-links .drop-menu{
  position: absolute;
  background: #242526;
  width: 200px;
  line-height: 45px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}

.nav-links li:hover .drop-menu{
  transition: all 0.3s ease;
  top: 70px;
  opacity: 1;
  visibility: visible;
}

.drop-menu li a{
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}

.content .row img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content .row header{
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 500;
}

.wrapper .btn{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.wrapper .btn.close-btn{
  position: absolute;
  right: 30px;
  top: 10px;
}

nav input{
  display: none;
}

.body-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px;
}

.body-text div{
  font-size: 45px;
  font-weight: 600;
}