.inLine{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    align-items: flex-start;
}

.content {
    width: 1100px;
    margin: 40px auto;
    padding: 20px;
}

.text {
    width: 55%; 
    font-family: 'Times New Roman', Times, serif; 
    color: #d3d3d3; 
    padding: 10px; 
    font-size: 25px;
}
